.container
  .table-responsive
    %table.table
      %thead
        %tr
          %th #
          %th NAME
          %th EMAIL
          %th Comments
      %tbody
        - if @inquiery.present?
          = @inquiries.each_with_index do |inquiery, index|
            - index = index + 1
            %tr
              %td= index
              %td= inquiery.name
              %td= inquiery.email
              %td= inquiery.message
